/* ------------------------ layout and background ------------------ */
.site {
	margin: 0px;
}
.topSuperContainer {
  display: flex;
  height: 70px;
  flex-direction: column;
}

.superContainer {
  display: flex;
  min-height: 93vh;
  flex-direction: column;
}

.topContainer {
	display: flex;
  	flex: 1;
}

.topLeftSidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	/* 12em is the width of the column */
	flex: 0 0 12em;
	background-color: #CC4D4D;
}

.topMainContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
  	flex: 1;
  	padding: 25px;
}

.topRightSidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	/* 12em is the width of the column */
	flex: 0 0 12em;
	background: #74C0C8;
}

.container {
  	display: flex;
  	flex: 1;
}

.mainContent {
	display: flex;
  	flex: 1;
  	flex-wrap: wrap;
  	justify-content: space-around;
}

.leftSidebar {
	display: flex;
	/* 12em is the width of the column */
	flex: 0 0 12em;
	background: #11171C;
}

.rightSidebar {
	display: flex;
	justify-content: center;
	/* 12em is the width of the column */
	flex: 0 0 12em;
	background: #ECEDEF;
}

/* ------------------------- Search Box CSS ------------------------- */

.header__search {
	display: flex;
	align-items: center;
}
.search{
	font-style: none;
	border-style: none;
	border-bottom: solid 1px white;
	background-color: transparent;
	
	color: white;
}

.search::-webkit-input-placeholder {
	color: white;
	font-style: italic;
}

.search__image {
	border-bottom: solid 1px white;
	width: 15px;
}

/* ------------------------- Title CSS ------------------------- */

.header__title {
	font-size: 28px;
}

/* ------------------------- Header Sort CSS ------------------------- */

.header__sort {
	color: #CED6DE;
	font-size: 13px;
}

.sort__item {
	display: inline;
}	

.sort__divide {
	display: inline;

}

.sort__item--selected {
	color: #74C0C8;
}

/* ------------------------- Header Icon CSS ------------------------- */

.header__icon {
	display: inline;
	width: 24px;
	margin: 5px;

}

/* ------------------------- Header Profile CSS ------------------------- */

.header__profile {
	font-size: 13px;
	color: white;
}

.profile {
	display: flex;
	align-items: center;
	font-size: 13px;
}

.profile__image {
	width: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.profile__status {
	width: 8px;
	margin-left: 20px;
	border-radius: 50%;
}

/* ------------------------- Nav CSS ------------------------- */

.nav{
	padding: 30px;
}

.nav__title {
	color: gray;
	font-size: 12px;
}

.nav__list{
	padding-left: 20px;
	list-style-type: none;
}

.nav__items {
	padding: 5px 0px;
	color: white;
	font-size: 13px;
}

.nav__items.is_selected{
	background-color: #1C242B;
}

.playing{
	list-style-image: url('images/play.png');
}

.discover{
	list-style-image: url('images/compass.png');
}

.activity {
	list-style-image: url('images/person.png');
}

.topCharts {
	list-style-image: url('images/trending_up.png');
}

.newReleases{
	list-style-image: url('images/new_releases.png');
}

.mustSee{
	list-style-image: url('images/blue_ring.png');
}

.theBest{
	list-style-image: url('images/green_ring.png');
}

.bobAndMe{
	list-style-image: url('images/blue_orange_rings.png');
}

.travelMovies{
	list-style-image: url('images/blue_yellow_rings.png');
}

/* ------------------------- Moive CSS ------------------------- */

.movie{
	margin: 10px;
	font-size: 13px;
}

.movie__posterImage {
}

.movie__title{
	font-weight: bold;
}

.movie__genre{
}

.movie__runTime {
}

/* ------------------------- Friend CSS ------------------------- */
.rightSidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.friends__online {
	color: black;
	font-size: 12px;
	margin: 30px 0 0 30px;
}

.friends__offline {
	color: black;
	font-size: 12px;
	margin-left: 30px;
}

.friends__profile {
	display: flex;
  	flex: 1;
	font-size: 13px;
	margin: 20px 20px 20px 0;
}

.friend__left {
	display: flex;
	flex: 0;
}

.friend__main {
  	flex: 1;
  	flex-wrap: wrap;
}

.friend__right {
	display: flex;
	flex: 0;
}

.friend__image{
	display: flex;
	align-self: flex-start;
	width: 25px;
	border-radius: 50%;
	margin-right: 10px;
}

.friend_name {
	display: flex;
	align-self: center;
}

.friend__movie {
	display: flex;
	align-self: center;
	font-size: 10px;
}

.friend__status {
	display: flex;
	justify-content: center;
	width: 7px;
}

/* ------------------------- Chat Box CSS ------------------------- */

.chatBox{
	padding: 28px 16px;
	display: flex;
	justify-content: center;
	background-color: #C4CCD8;
}
.chatBox__search{
	font-style: none;
	border-style: none;
	border-bottom: solid 1px white;
	background-color: transparent;
	
	color: white;
}

.chatBox__search::-webkit-input-placeholder {
	color: white;
	font-style: italic;
}

.chatBox__image {
	border-bottom: solid 1px white;
	width: 24px;
}