
.mainContainer {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	margin: 0;
}

.box1 {
	display: flex; 
	justify-content: space-between;
	align-content: center;
	width: 100%;
	height: 70px;
}

.box2 {
	background-color: #11171C;
	width: 16%;
}

.box3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 66%;
	min-height: 90vh;
}

.box4 {
	background-color: #ECEDEF;
	width: 17%;
}

.header {
	display: flex;

}

.header__search{
	display: flex;
	width: 16%;
	justify-content: center;
	align-items: center;
	background-color: #CC4D4D;
	
	font-size: 13px;
	color: white;
}

.search{
	font-style: none;
	border-style: none;
	border-bottom: solid 1px white;
	background-color: transparent;
	
	color: white;
}

.header__title {
	display: flex;
	align-content: flex-start;
	align-items: center;
	
	font-size: 28px;
}

.header__sort {
	display: flex;
	align-items: center;

	font-size: 13px;
}

.header__icon {
	display: flex;
	
	align-items: center;
}

.header__profile {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #74C0C8;
	width: 17%;
	font-size: 13px;
	color: white;
}

.profile {
	font-size: 13px;
}

.profile__image {
	width: 25px;
	border-radius: 50%;
	margin-right: 10px;
}

.profile__status {
	width: 7px;
	margin-left: 20px;
}
.nav__list{
	list-style-type: none;
}

.nav__title {
	color: gray;
	font-size: 12px;
	margin-left: 20px;
}

.nav__items {

	color: white;
	font-size: 13px;
	margin: 12px 0px;
}
.nav__items.is_selected{
	background-color: #1C242B;
	width: 100px;
	padding: 5px;
}

.playing{
	list-style-image: url('images/play.png');
}

.discover{
	list-style-image: url('images/compass.png');
}

.activity {
	list-style-image: url('images/person.png');
}

.topCharts {
	list-style-image: url('images/trending_up.png');
}

.newReleases{
	list-style-image: url('images/new_releases.png');
}

.movie{
	margin: 5px;
}

.movie__posterImage {

}

.movie__title{
	font-size: 13px;
	font-weight: bold;
}

.movie__genre{
	font-size: 13px;
}

.movie__runTime {
	font-size: 13px;
}

.friends__online {
	margin: 10px;
}

.friends__profile {
	display: flex;
	align-items: center;
	margin: 12px;

	font-size: 13px;
}

.friend__image{
	display: flex;
	width: 25px;
	border-radius: 50%;
	margin-right: 10px;
}

.friend__name {
	margin: 0px;

	font-size: 10px;
}

.friend__movie {
	font-size: 10px;
}

.friend__status {
	width: 7px;
	margin-left: 0px;
}


